uvicorn
python-dotenv
pydantic
pydantic[email]
sqlalchemy
asyncpg
passlib[bcrypt]
python-jose
bcrypt==4.0.1
authlib>=1.0.0
httpx 
itsdangerous
pyjwt==2.8.0
python-multipart
starlette>=0.27.0
fastapi>=0.95.0
